[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
argparse = "*"
sqlalchemy = "*"
timezonefinder = "*"
geopy = "*"
pytz = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
